{% extends "polls/base.html" %}
{% load static %}

{% block contents %}
<h1>{{ question.question_text }}</h1>

{% if error_message %}
<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %} 
    {% for choice in question.choice_set.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
    <label for="choice{{forloop.counter}}">
        {{ choice.choice_text }}
    </label><br/> {% endfor %}
    <input type="submit" value="Vote" />
</form>
<hr/>
<div id="gridtest">
    <div class="row">
                <div class="col-md-2 col-xs-4">col-md-2</div>    
                <div class="col-md-2 col-xs-4">col-md-2</div>    
                <div class="col-md-2 col-xs-4">col-md-2</div>    
                <div class="col-md-3 col-xs-6">col-md-3</div>    
                <div class="col-md-3 col-xs-6">col-md-3</div>    
    </div>
</div>
{% endblock contents %}